html, body, main, div {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

main {
    background-color: black;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

aside {
    border: 2px solid #eeeeee;
    width: 5em;
    height: 4em;
    position: absolute;
    border-bottom: none;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
aside::after {
    display: block;
    content: '';
    position: absolute;
    width: 56px;
    height: 58px;
    left: 11px;
    bottom: -30px;
    border: 2px solid #eeeeee;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
}
aside.hit {
    background-color: #fff;
}
aside.hit::after {
    background-color: #fff;
}

#ship {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 50px solid white;
    box-shadow: 0 13px 6px -7px #ffbb66;
    z-index: 1;
}
#ship.crash {
    border-bottom-color: #ec8f39;
}
